
html{
  background-image: url('images/Background6_15_23.png');
  background-color: black;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.videoback {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left: 0;
  
}

.bannerbackground{
  
  //background-image: linear-gradient(rgb(255, 0, 0),rgba(255, 0, 0, 0)); 
  //display: inline-block; 
}
.float-container{

}
.float-banner{
  float:left;
  padding-right: 0.2vw;
  padding-bottom: 0.5vh;
}
.float content{
  float:right;
}
nav{
  display: flex;
  align-items: center;
  
  justify-content: space-between;
  padding-left: 1vw;
  //padding-right: 3vw;
  
  float: left;
}
h2{
  padding-top: 8vh;
  padding-bottom: 2vh;
}
nav ul li{
  background-image: linear-gradient(to left, rgb(0, 0, 0),rgba(0, 0, 0, 0));
  list-style-type: none;
  //display: inline-block;  
  
  padding-top: 3vh;
  padding-bottom: 3vh;
  width: auto;
   
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: small;
  
}
.highlight{
  border-top-style: groove;
  border-right-style: groove;
  border-bottom-style: groove;
  padding-left: 1vw;
  padding-right: 1vw;
  border-color: rgba(255, 255, 255, 0.75);
}
.highlight:hover{
  background-image: linear-gradient(to right, #66006600, #660066);
  padding-top: 2vw;
  padding-bottom: 3.5vw;
}
.highlightpg{
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-image: linear-gradient(to right, #66006600, #660066);
  padding-left: 1vw;
  padding-right: 1vw;
  border-top-style: groove;
  border-right-style: groove;
  border-bottom-style: groove;
  border-color: rgb(255, 255, 255, 0.75);
}

.borderline{
  background-color: rgba(255, 255, 255, 0.308);
  width: 0.1vw;
}

body{
  color: white;
  text-align: center;
}
main{
  padding-top: 5vh;
}

.gallery{
  margin: 5px;
  border: 1px solid rgba(255, 255, 255, 0.452);
  float: left;
  width: 390px;
  height: auto;
  
}
.gallery img{
  width: 100%;
  height: auto;
}
.gallery video{
  width: 100%;
  height: auto;
}
.gallery iframe{
  width: 100%;
  height: auto;
}
.desc{
  padding: 15px;
  text-align: center;
}
